<html>
    <head>
        <title>Muhammed'in Bloğu </title>
    </head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>published: 10.11.2022, 15:15</p>
        <h2><a href="">İlk Bloğum</a></h2>
        <p>Çok heyecanlıyım ! Bu benim ilk bloğum. Ne kadar zevkli bilgisayarla uğraşmak</p>
    </div>
    <div>
        <p>published: 10.11.2022, 15:20</p>
        <h2><a href="">İkinci Bloğum</a></h2>
        <p>Bir varmış bir yokmuş, evvel zaman içinde... Ne kadar zevkli bilgisayarla uğraşmak</p>
    </div>
</body>
</html>


